<%- include("partials/header.ejs") %>
    <div class="container-fluid">
        <h1>Home
        </h1>
        <p>
            <%= content %>
        </p>



        <% post.forEach(function(i){ %>
            <h2>
                <%= i.title %>
            </h2>
            <p>
                <%= (i.content).substring(0, 100) +"....." %> <a href="/posts/<%= i._id %>">read
                        more</a>
            </p>
            <% }) %>
    </div>
    <%- include("partials/footer.ejs") %>