<%- include("partials/header.ejs") %>
    <div class="container-fluid">
        <h1>Home
        </h1>
        <p>
            <%= content %>
        </p>



        <% post.forEach(function(i){ %>
            <h2>
                <%= i.title %>
            </h2>
            <p>
                <%= (i.postContent).substring(0, 100) +"....." %> <a href="/posts/<%= i.title %>">read
                        more</a>
            </p>

            <% }) %>

    </div>
    <%- include("partials/footer.ejs") %>